.App{
  max-width: 100vw;
  max-height: 100vh;
}

body{
  font-family: 'GmarketSansLight';
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

/* main - 시작섹션 */
.container{
  width: 100%;
  height: 100%;
}

.profile-wrap{
  background: #121212 url(../src/images/mask.svg) no-repeat;
  background-size: cover;
}

.profile-wrap .profile{
  width: 60%;
  height: 100%;
  margin: auto;
  padding: 120px 0px 120px 0px;
}

.profile-wrap .profile .intro-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.profile-wrap .profile .intro-wrap img{
  width: 554px;
  height: 760px;
}

.profile-wrap .profile .intro-wrap .intro-text h1, h2{
  margin-bottom: 30px;
}

.profile-wrap .profile .intro-wrap .intro-text h1{
  font-size: 90px;
  line-height: 4rem;
}

.profile-wrap .profile .intro-wrap .intro-text h1 .akaName{
  font-size: 45px;
}

.profile-wrap .profile .intro-wrap .intro-text h2{
  line-height: 3rem;
  font-size: 30px;
}

.profile-wrap .profile .intro-wrap .intro-text .keypoint{
  font-size: 30px;
  font-family: 'GmarketSansBold';
  color: #fff;
  line-height: 2.5rem;
}

.profile-wrap .profile .intro-wrap .intro-text .introduce{
  font-size: 15px;
  color: #fff;
  line-height: 25px;
}

/* 카테고리 버튼영역 */
.profile-wrap .profile .categori{
  width: 100%;
  height: 100%;
  margin-top: 100px;
}

.profile-wrap .profile .categori ul{
  display: flex;
  justify-content: space-between;
  
}


.profile-wrap .profile .categori ul li button{
  width: 180px;
  height: 220px;
  border-radius: 20px;
  border: none;
  background: #fff;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  line-height: 45px;
  cursor: pointer;
}

/* icon size */
.icon01, .icon02, .icon03, .icon04, .icon05, .icon06{
  width: 70px;
  height: 70px;
}

/* intro - 인삿말 */

.hello{
  width: 60%;
  height: 100%;
  margin: auto;
  padding: 120px 0px 120px 0px;
}

.hello .hello-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.hello .hello-wrap h2{
  font-size: 55px;
}

.hello .hello-wrap .textbox{
  width: 600px;
  font-size: 15px;
  line-height: 25px;
}


/* stack section - 커리어 */
.stack{
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 120px 0px 120px 0px;
  background-image: url(../src/images/gradiant.png), url(../src/images/careeaback.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.stack .mystack{
  width: 60%;
  height: 100%;
  margin: auto;
  color: #fff;
  border: none;
}

.stack .mystack .stackTable{
  width: 60%;
  border: none;
}

.stack .mystack .stackTable thead tr{
  text-align: left;
  font-size: 35px;
  font-family: 'GmarketSansBold';
}

.stack .mystack .stackTable thead tr th{
  padding: 20px 0px 20px 0px;
  border: none;
}

.stack .mystack .stackTable caption{
  text-indent: -9999px;
}


.stack .mystack .stackTable tbody tr .tablecaption{
  border-right: 3px solid #FF6FA0;
  width: 150px;
  font-size: 20px;
}

.stack .mystack .stackTable tbody tr .skillTilte{
  width: 150px;
  font-size: 20px;
}

.stack .mystack .stackTable tbody tr td{
  padding-left: 10px;
  height: 25px;
  border: none;
} 

/* 퍼블리싱 */
.Publishing{
  width: 100%;
}

.Publishing .Pub_wrap{
  border: 1px solid red;
  width: 80%;
  margin: auto;
  margin-top: 120px;
}

.Publishing .Pub_wrap h2{
  text-align: center;
  font-family: 'GmarketSansBold';
  font-size: 35px;
}


/* media query */
@media (prefers-reduced-motion: no-preference) {

}
