/* laptop(랩탑) 미디어쿼리 */

@media screen and (max-width: 1280px){
  .App{
    max-width: 100vw;
    max-height: 100vh;
  }

  br{
    display: none !important;
  }
  
  body{
    margin: 0;
    padding: 0;
    word-break: break-all;
  }

  /* 전체 container 영역  */
  .container .profile-wrap{
    background: #121212 url(../src/images/mask.svg) no-repeat;
    background-size: cover;  
    background-position: center center;
  background-attachment: fixed;
  }

  .container .profile-wrap .profile{
    border: 1px solid red;
    width: 90%;
  }

  .container .profile-wrap .profile .intro-wrap{
    width: 95%;
    display: flex;
    padding: 0;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .container .profile-wrap .profile .intro-wrap .intro-text{
    margin-top: 50px;
    width: 70%;
    text-align: center;
  }

  .container .profile-wrap .profile .intro-wrap .intro-text h1{
    white-space: nowrap;
    width: 65%;
    margin: auto;
    word-break: break-all;
    white-space: normal;
}  

.container .profile-wrap .profile .intro-wrap .intro-text .keypoint{
  white-space: nowrap;
  width: 57%;
  margin: auto;
  margin-top: 30px;
  word-break: break-all;
  white-space: normal;
}

.container .profile-wrap .profile .intro-wrap .intro-text .introduce{
  white-space: nowrap;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  word-break: break-all;
  white-space: normal;
}

  .container .profile-wrap .profile .intro-wrap .intro-text h2{
    white-space: nowrap;
}

  .container .profile-wrap .profile .intro-wrap img{
    width: 70%;
    height: 100%;
  }

/* 인삿말 영역 */
.hello{
  width: 100%;
}

.hello .hello-wrap{
  width: 90%;
  margin: auto;
}


.hello .hello-wrap .hello-text .textbox{
  border: 3px solid red;
  word-break: keep-all;
}

/* 스팩영역 */
.stack{
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.stack .mystack{
  width: 70%;
  height: 50%;
}

.stack .mystack .stackTable{
  border: 1px solid red;
  width: 500px;
  height: 600px;
  font-size: 15px;
}
}

/* mobile(모바일) 미디어쿼리 */
@media screen and (max-width: 480px){
  
}

